<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg8fTtL0vXVQt2s7InQ3i0gL5Oyi7nVtM</string>
	<key>GCM_SENDER_ID</key>
	<string>374313640637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desafioFlutterAmbisis</string>
	<key>PROJECT_ID</key>
	<string>desafio-ambisis</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-ambisis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374313640637:ios:d2552a309f110bcf6c8dd4</string>
</dict>
</plist>